.bcontent {
    margin-top: 10px;
}

.icon {
    display: block;
    margin-left: auto;
}

table {
    margin-left: 50%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    max-width: 25%;
  }

  td {
      width: 25%;
  }