  

.left {float:left;}
.right {float:right;}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
    padding: 15px;
 } 